# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*
tests/data/

# docs
/docs/generated/
/docs/_build/
/docs/notebooks/.ipynb_checkpoints/
/docs/notebooks/data/

#uv
uv.lock
.python-version
venv

.ipynb_checkpoints
test/.ipynb_checkpoints
